<section class="hire-us">
    <div class="content">
        <h2>You want us to do</h2>
        <form action="">
            <div class="type">
                <div class="form-type-section">
                    <div class="adapt-row">
                        <div>
                            <input id="AppDesign" type="radio" name="type-of-work"> <label for="AppDesign">  App Design</label>
                        </div>
                        <div>
                            <input id="GraphicDesign" type="radio" name="type-of-work"> <label for="GraphicDesign">  Graphic Design</label>
                        </div>
                    </div>
                    <div class="out-of-adapt-row">
                        <input id="MotionDesign" type="radio" name="type-of-work"> <label for="MotionDesign">  Motion Design</label>
                    </div>
                </div>
                <div class="form-type-section">
                    <div>
                        <input id="UXDesign" type="radio" name="type-of-work"> <label for="UXDesign">  UX Design</label>
                    </div>
                    <div>
                        <input id="Webdesign" type="radio" name="type-of-work"> <label for="Webdesign">  Webdesign</label>
                    </div>
                </div>
                <div class="form-type-section">
                    <div>
                        <input id="Marketing" type="radio" name="type-of-work"> <label for="Marketing">  Marketing</label>
                    </div>
                </div>
            </div>
            <div class="user-info">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
            </div>
            <button class="">SEND REQUEST</button>
        </form>
    </div>
</section>