$transitionTime: 5s; //time for 1 slide on main page

.main{
    height: calc(100vh - 70px); /* 100vh - 100% от высоты viewport(окна браузера) */
    // margin-left: 197px;
    display: flex;
    .main__content{
        height: 100%;
        min-width: 100%;
        margin: auto 0;
        justify-content: center;
        display: flex;
        flex-direction: column;

    }
    .main__content__banner{
        height: 463px;
        display: flex;
        position: relative;
        h2{
            font-size: 100px;
            font-weight: 900;
            line-height: 80px;
        }
        img{
            position: absolute;
            top: 0;
            right: 0;
        };
        a {
            margin-top: 60px;
            font-size: 14px;
            color: white;
            text-decoration: none;
            background: rgb(36,34,34);
            background: linear-gradient(90deg, rgba(36,34,34,0) 13%, rgba(15,51,255,1) 13%);
            display: flex;
            align-items: center;
            width: 98px;
            padding: 12px 0;
            &::after{
                content :  url(/assets/img/main/pointer-right.png);
                display: flex;
                margin-left: 15px;
            }
        }

        .main__content__banner__text{
            z-index: 1;
        }
        
    }
    .bar--text{
        margin-top: 35px;
        display: flex;
        .bar--text__el{
            transition: 1s;
            color: #242424;
            h3{
                font-size: 18px;
                font-weight: 700;
            }
            p{
                font-size: 16px;
            }
            &.active_el{
                color: white;
                z-index: 1;
                
            }
        }
    }
}

.main__content__under-banner{
    .bar--line{
        width: 100%;
        background: #161616;
        height: 1px;
        .bar__progress{
            height: 5px;
            width: 0%;
            background: rgba(15,51,255,1);
            transition: $transitionTime;
        }
    }
}
@media screen and (max-width: 1200px){
    .main{
        margin-left: 0;
        padding: 10px;
    }
}
@media screen and (max-width: 897px) and (min-width: 680px){
    .bar--text{
        max-height: 100%;
        position: relative;
        .bar--text__el{
            position: absolute;
            width: 310px;
            left: 50%;
            transform: translateX(-50%);
            // text-align: center;
            &:first-child{
                left: 0%;
                transform: translateX(10%);
            }
            &:last-child{
                left: 100%;
                transform: translateX(-110%);
            }
            &.active_el{
                background: rgba(28, 26, 49, 0.7);
                border-radius: 15px;
            }
        }

    }
}

@media screen and (max-width: 860px) {
    .main__content__banner{
        h2{
            font-size: 60px !important;
        }
    }
}

@media screen and (max-height: 650px){
    .main__content__banner{
        overflow: hidden; 
        height: 360px !important;
        img{
            height: 360px !important;
        }
    }

}
@media screen and (max-width: 679px){
    .bar--text{
        flex-direction: column;
        .bar--text__el{
            h3{
                font-size: 30px !important;
            }
            p{
                font-size: 24px !important;
                margin-bottom: 20px;
            }
        }
    }
    .main__content{
        transform: translateY(-150px);
    }
    .main__content__banner{
        height: 340px !important;
        a{
            margin-top: 30px !important;
        }
        img{
            height: 340px !important;
        }
    }

}

@media screen and (max-width: 679px) and (max-height: 1000px){
    .bar--text{
        max-height: 100%;
        position: relative;
        .bar--text__el{
            padding: 20px !important;
            position: absolute;
            width: 310px;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            // text-align: center;
            &:first-child{
                top: 0;
            }
            &:last-child{
                top: 100px;
            }
            &.active_el{
                background: rgba(28, 26, 49, 0.7);
                border-radius: 15px;
            }
            p{
                margin-bottom: 0;
            }
        }

    }
}