<section class="contact">
    <div class="content">
        <ul>
            <li class="contact-data">Pawia 5,31-154 Kraków, Polanrd</li>
            <li class="contact-data">ouremail@gmail.com</li>
            <li class="contact-data">+48 12 628 75</li>
            <li class="contact-data-img behance"><img src="assets/img/contact/behance.png" alt=""></li>
            <li class="contact-data-img dribbble"><img src="assets/img/contact/dribbble.png" alt=""></li>
            <li class="contact-btn"> <a href=""> CONTACT US </a> </li>
        </ul>
    </div>
</section>