.slider-section{
    display: flex;
    flex-direction: column;
    height: 100vh;

    a{
        display: flex;
        align-items:center;
        justify-content:center;
        width: 90px;
        height: 30px;
        background: #0f33ff;
        margin: 0 auto 70px auto;
        color: white;
        text-decoration: none;
    }
    .content{
        width: 100%;
        h3{
            font-size: 30px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 50px;
        }
        .slider{
            height: 376px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            img{
                object-fit: contain;
            }
            
            .pointer{
                margin: auto 10px auto 48px;
                transform:translateY(-15px);
                width: 18px;
                height: 14px;
                padding: 19px 16px;
                background-color: #282828;
                border-radius: 50%;
            }

            .pointer:first-child{
                margin: auto 48px auto 10px;
                transform:translateY(-15px) rotate(180deg);
            }
            .slider-show{
                max-width: 780px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                .slider-content{
                    min-width: 2000px;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    .slider-el{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 167px;
                        max-width: 168px;
                        p{
                            transition: 1s;
                            text-align: center;
                            margin-top: 13px;
                        }
                        &:not(:last-child){
                            margin-right: 50px;
                        }
                        &.center-el{
                            max-width: 330px;
                            width: calc(330/1280) * 100vw;
                            p{
                                margin-top: 30px;
                            }
                        }
                    }
                    &.left{
                        transform:translateX( 217px);
                    }
                    &.right{
                        transform:translateX( -217px);


                    }
                }
                
            }
        }
    .slider-section-text{
        text-align: center;
        margin-top: 20%;
        font-size: 16px;
        line-height: 24px;
    } 
    }
}

@media screen and (max-width: 1200px) {
    .slider-section{
        padding: 10px;
    }
}

@media screen and (max-height: 654px) {
    .hire-btn{
        display: none !important;
    }
    .content{
        padding-top: 20px;
    }
    .slider-section-text{
        margin-top: 0 !important;
    }
}

@media screen and (max-height: 524px){
    .slider-section-text{
        display: none;
    }
}

@media screen and (max-width:925px) {
    .slider-show{
        width: 500px;
        .slider-content{
            .slider-el{
                width: 100px !important;
            }
            .center-el{
                width: 200px !important;
            }
            &.left{
                transform:translateX( 150px) !important;
            }
            &.right{
                transform:translateX( -150px) !important;
            }
        }
    }
}

@media screen and (max-width:740px) {
    .slider-show{
        width: 350px;
        .slider-content{
            .slider-el:not(:last-child){
                margin-right: 20px !important;
            }
            .slider-el:last-child{
                margin-right: 0 !important;
            }
            .slider-el{
                margin-right: 20px !important;
                width: 100px !important;
            }
            .center-el{
                width: 100px !important;
            }
            &.left{
                transform:translateX( 120px) !important;
            }
            &.right{
                transform:translateX( -120px) !important;
            }
        }
    }
    .pointer{
        margin: auto 5px auto 20px !important;
    }

    .pointer:first-child{
        margin: auto 20px auto 5px !important;
    }
}