<section class="about">
    <div class="content">
        <h2>We <br> believe in <br> passionate <br> people</h2>
        <div class="photos">
            <div class="photos-el">
                <img src="assets/img/about/winners.png" alt="">
                <p>WINNERS</p>
            </div>
            <div class="photos-el">
                <img src="assets/img/about/philosophy.png" alt="">
                <p>PHILOSOPHY</p>
            </div>
            <div class="photos-el">
                <img src="assets/img/about/history.png" alt="">
                <p>HISTORY</p>
            </div>
        </div>
    </div>
</section>